@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium weight (better than 400) */
    font-size: 12px;
    line-height: 1.6;
    color: #333; /* Dark gray (softer than pure black) */
    -webkit-font-smoothing: antialiased; /* Smoother text on Mac/Win */
}

.tick {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: 0 auto;
}

/* Styling for the tick container */
.tick-container {
    display: flex;
    gap: 15px;
}

/* Group spacing and alignment */
.tick-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Value flip styling */
.tick-value {
    font-size: clamp(14px, 2.2vw, 44px); /* Min:24px, Preferred:3vw, Max:36px */
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}

/* Label styling */
.tick-label {
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

/* Time's up message */
.tick-onended-message p {
    font-size: 14px;
    color: #d9534f;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 5px;
}

/* Responsive adjustments */
@media (max-width: 1440px) {
    .tick {
        padding: 4px;
    }

    .tick-value {
        font-size: 32px;
        padding: 1px 4px;
    }

    .tick-label {
        font-size: 12px;
    }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .tick {
        padding: 4px;
    }

    .tick-value {
        font-size: 26px;
        padding: 1px 4px;
    }

    .tick-label {
        font-size: 14px;
    }
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .tick {
        padding: 6px;
    }

    .tick-value {
        font-size: 32px;
        padding: 4px 8px;
    }

    .tick-label {
        font-size: 12px;
    }
}

/* Responsive adjustments */
@media (max-width: 554px) {
    .tick {
        padding: 4px;
    }

    .tick-value {
        font-size: 20px;
        padding: 3px 6px;
    }

    .tick-label {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .tick {
        padding: 4px;
    }

    .tick-value {
        font-size: 18px;
        padding: 1px 4px;
    }

    .tick-label {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .tick {
        padding: 3px;
    }

    .tick-value {
        font-size: 17px;
        padding: 1px 1px;
    }

    .tick-label {
        font-size: 10px;
    }
}


/* Splash Screen Styles */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.splash-text {
    display: flex;
    gap: 5px; /* Space between letters */
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    font-weight: bold;
    color: red;
    /*-webkit-text-stroke: 2px red;*/
    transform: translateX(50px);
}

.letter {
    opacity: 0;
    animation: fadeInOut 2s infinite;

}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.2s;
}

.letter:nth-child(3) {
    opacity: 0; /* Start invisible */
    animation:
        draw 2s ease-in-out forwards,
        fill 2s ease-in-out forwards,
        fadeUp 0.6s ease forwards,
        fadeInOut 2s infinite;
    animation-delay: 0s, 0s, 0s, 2.6s;
}

.letter:nth-child(4) {
    animation-delay: 0.6s;
    transform: translateX(-110px);
}

.letter:nth-child(5) {
    animation-delay: 0.8s;
    transform: translateX(-110px);
}

.letter:nth-child(6) {
    animation-delay: 1s;
    transform: translateX(-110px);
}

.letter:nth-child(7) {
    animation-delay: 1.2s;
    transform: translateX(-110px);
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Starts below */
    }
    100% {
        opacity: 1;
        transform: translateY(-70px); /* Ends in position */
    }
}

@keyframes draw {
    0% {
        stroke-dasharray: 0, 1000;
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dasharray: 1000, 0;
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

}

.modal-overlay {
    z-index: 50;
}



